@import './comon/components.scss';
@import './comon/header.scss';
@import './comon/disconts_day.scss';
@import './comon/top-discounts.scss';
@import './comon/welcome-section.scss';
@import './comon/faq.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&display=swap');


body{
    font-family: "Play", sans-serif;
    font-style: normal;
    max-width: 1920px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none; 
    padding-left: 0;
    margin: 0;
}

h2, h3, p{
    margin: 0;
}

.content-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    @media (max-width: 680px) {
        flex-direction: column;
    }
    @media (max-width: 425px) {
        &.content-container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.content{
    padding-top: 40px;
    padding-bottom: 135px;
    @media (max-width: 425px) {
        padding: 60px 16px 52px;
    }
}
  