.container{
    padding-left: calc((100% - 1300px) / 2);
    padding-right: calc((100% - 1300px) / 2);
    @media (max-width: 1440px) {
        padding-left: 5%;
        padding-right: 5%;
    }
    
}

.title{
    font-weight: 700;
    font-size: 44px;
    line-height: 115%;
}

$btn-hover-background: #607282;
$btn-after-color: #607282;

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 11px 20px;
    cursor: pointer;
    border: none;
    position: relative;
    max-width: 202px;
    width: 100%;
    max-height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    &-red{
        color: #FFFFFF;
        background: #ff2e4c;
    }

    &-white{
        color: #3c5858;
        background: #fff;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 100%;
        transition: width 0.3s, height 0.3s;
    }

    &::before {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
    }

    &::after {
        width: 8px;
        height: 8px;
        background-color: $btn-after-color;
        border-radius: 50%;
    }

    &:hover::after {
        width: 40px;
        height: 40px;
        background-color: $btn-hover-background;
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">%0A<path d="M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />%0A<path d="M12 19V5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />%0A</svg>');
        background-repeat: no-repeat;
        background-position: center;
    }
}