.discounts-day{
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
        width: 290px;
        background: #f0f6f6;
        @media (max-width: 680px) {
            width: 100%;
            padding: 16px;
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (max-width: 680px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
  
    &__info{
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media (max-width: 680px) {
            & h2 {
                font-size: 30px;
            }
        }
    }
    &__offers{
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #607282;
    }
    @media (max-width: 680px) {
        gap: 8px;
        & .discount-card {
            width: 160px;
            height: 320px;
        }
    }
}

.discount-card{
    overflow: hidden;
    background: #fff;
    width: 250px;
    border-radius: 10px; 
    &__img {
        position: relative;
        border: 1px solid #bedada;
        border-bottom: none;
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 12px;

        border-bottom: 1px dashed #bedada;
        border-left: 1px dashed #bedada;
        border-right: 1px dashed #bedada;
        padding: 12px;
        height: 159px;
        overflow: hidden; 
        @media (max-width: 680px) {
            height: 100%;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__title{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: #607282;
        cursor: pointer;
        &:hover{
            color: #ff2e4c;
        }
    }
    &__promotion{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        color: #001c1c;
        cursor: pointer;
        &:hover{
            color: #248888;
        }
    }
    &__type, &__category{
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #607282;
    }
    &__category{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__type{
        cursor: pointer;
        &:hover{
            color: #ff2e4c;
        }
        
    }
    &__cashback{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 425px) {
            gap: 5px;
            flex-wrap: wrap;
        }
    }
    &__btns{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border: 1px solid #607282;
        border-radius: 4px;
        padding: 4px 8px 5px 8px;
        width: 65px;
        height: 29px;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #607282;
        &-solid{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            border-radius: 4px;
            padding: 4px 8px 5px 8px;
            width: 37px;
            height: 29px;

            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            color: #fff;
            background: #607282;
        }
    }
}