.welcome{
    &__seciton{
        margin-top: 70px;
    }
    &__body{
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__title{
        font-weight: 700;
        font-size: 28px;
        color: #023131;
    }
    &__tagline{
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #001c1c;
    }
    &__info{
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
        color: #3c5858;
    }
    &__expand{
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
        color: #607282;
    }
}
